{% extends 'base/base.html' %}

{% block title_pagina %}
<title>Ver Películas</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<a class="navbar-brand" href={% url 'crear_pelicula' %}>Agregar Peliculas</a>
<p>Listado de Películas:</p>
<form action={% url 'ver_peliculas' %} class="btn btn-info btn-sm"  method="GET">
    {{formulario}}
    <button>Buscar</button>
</form>
<p>
    {% if peliculas %}
    <ul class="list-group">
        {% for pelicula in peliculas %}
            <li class="list-group-item" >
                <a href={% url 'ver_una_pelicula' pelicula.id %} >{{pelicula}}</a> 
                {% if pelicula.imagen %}
                    <img src="{{pelicula.imagen.url}}" width="150" alt="">
                {% endif %}
                <a href={% url 'editar_pelicula' pelicula.id %} class="btn btn-info btn-sm">Editar</a>
                <a href={% url 'eliminar_pelicula' pelicula.id %} class="btn btn-warning btn-sm">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}