{% extends 'base/base.html' %}

{% block title_pagina %}
<title>Ver Películas</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<a class="navbar-brand" href={% url 'crear_pelicula' %}>Agregar Peliculas</a>
<p>Listado de Películas:</p>
<form action={% url 'ver_peliculas' %} method="GET">
    {{formulario}}
    <button>Buscar</button>
</form>
<p>
    {% if peliculas %}
    <ul class="list-group">
        {% for pelicula in peliculas %}
            <li class="list-group-item" >
                <a href={% url 'ver_una_pelicula' pelicula.id %}>{{pelicula}}</a> 
                <img src="/media/{{pelicula.imagen}}" width="150" alt="">
                <a href={% url 'editar_pelicula' pelicula.id %}>Editar</a>
                <a href={% url 'eliminar_pelicula' pelicula.id %}>Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}