{% extends 'base/base.html' %}

{% block title_pagina %}
<title>Película</title>
{% endblock title_pagina %}

{% block mi_contenido %}


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if pelicula.imagen %}
          <img src="{{pelicula.imagen.url}}" class="img-fluid rounded-start" alt="...">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.nombre}}</h5>
          <h6 class="card-title">{{pelicula.genero}}</h6>      
          <div class="card-body">       
                <ul class="list-group">
                    <li class="list-group-item"><small>{{pelicula.resumen | safe}}</small></li>
                    <li class="list-group-item"><small  class="text-muted">Año Estreno: {{pelicula.anio_estreno}}</samll></li>
                    <li class="list-group-item"><small  class="text-muted">Duración: {{pelicula.duracion}}</samll></li>
                    <li class="list-group-item"><small  class="text-muted">Clasificación: {{pelicula.clasificacion_edad}}</samll></li>
                    <li class="list-group-item"><small  class="text-muted">Creado por {{pelicula.user}} - {{pelicula.fe_alta}}</samll></li>
                    {% if pelicula.fe_cambio %}  
                      <li class="list-group-item"><small  class="text-muted">Ultimos cambios: {{pelicula.fe_cambio}}</samll></li>
                    {% endif %}
                </ul>    
            </div>
      </div>
    </div>
  </div>

{% endblock mi_contenido %}