{% extends 'base/base.html' %}

{% block title_pagina %}
<title>Perfil</title>
{% endblock title_pagina %}


{% block mi_contenido %}

<div class="card border-success" style="width: 18rem;">
    
    <h5 class="card-title">Perfil Usuario</h5>

    {% if request.user.extensionusuario.avatar %}
        <img src={{request.user.extensionusuario.avatar.url}} alt="">
    {% else %}
        <p>Imagen No Cargada</p>
    {% endif %}

    <div class="card-body">
        <p class="card-text">{{request.user.first_name}} {{request.user.last_name}}</p>
        <p class="card-text">{{request.user.email}}</p>
        <a href={% url 'editar_perfil' %} class="card-link">Editar datos</a>
        <a href={% url 'cambiar_contrasenia' %} class="card-link">Cambiar contraseña</a> 
    </div>
</div>
{% endblock mi_contenido %}